* {
  border: 0;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  font: 14px/1.4 Microsoft YaHei, Helvetica, sans-serif;
  color: #222;
}
body {
  min-height: 100%;
  height: auto;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
table {
  empty-cells: show;
  border-collapse: collapse;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden;
}

.container {
  max-width: 48rem;
  margin: 0 auto;
  background: #edeff0;
}

.wr {
  color: #f00;
}
.wg {
  color: #080;
}
.wb {
  color: #00f;
}
.wp {
  color: #f0f;
}
.wy {
  color: #ff0 !important;
}
.wo {
  color: #f60;
}
.wpe {
  color: #80d;
}
.wsr {
  color: #f06;
}
.wsb {
  color: #06f;
}
.ww {
  color: #fff;
}
.wbl {
  color: #000;
}

.p-all {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.nav .banner {
  border-radius: 15px;
  overflow: hidden;
  background: #f00;
}

.kj .ifm {
  background: #fbfafb;
}

.kjt li {
  display: inline-block;
  width: 50%;
  text-align: center;
  background: #f5f5f5;
}
.kjt li.liactive {
  background-color: #fff;
}
.kjt li a {
  background: transparent;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  color: #860707;
  line-height: 1.8;
}

/****** content ******/

.lxlm {
}
.br-12 {
  border-radius: 12px;
  overflow: hidden;
}
.lxlm-head {
  padding-left: 1rem;
  padding-right: 1rem;
}
.lxlm-tit {
  font-size: 1.4rem;
  color: #fff;
  padding-top: 0.5rem;
  font-semibold: 600;
}
.bg {
  background: linear-gradient(to right, #d11717, #d12525);
}
/* background-image: linear-gradient(to right, , rgb(37, 176, 117)); */
.lxlm-qs {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.lxlm-qs li {
  display: flex;
  margin-right: 0.5rem;
}
.lxlm-qs li button {
  text-align: center;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 5rem;
  padding: 0.35rem 0.5rem;
  border-radius: 45px;
  font-size: 0.935rem;
  letter-spacing: 1px;
}
.hover-yes {
  background: #fff;
  color: #cd6565;
}
.hover-no {
  background: #e38b9d;
  color: #fff;
}
.dis {
  display: normal;
}
.undis {
  display: none;
}

.mtbl {
  width: 100%;
  border-collapse: separate;
  --tw-border-spacing-x: 0px;
  --tw-border-spacing-y: 0px;
  border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(229 35 5 / var(--tw-text-opacity));
  word-break: break-word;
}
.mtbl tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
.mtbl tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.mtbl td {
  padding: 0.375rem 0.25rem;
  line-height: 22px;
  border-right: solid 1px #cece71;
  border-bottom: solid 1px #cece71;
}
.mtbl td:first-child {
  width: 65px;
  text-align: center;
}
@media (min-width: 375px) {
  .mtbl td:first-child {
    width: 82px;
  }
}
@media (min-width: 425px) {
  .mtbl td:first-child {
    width: 90px;
  }
}
.mtbl td:first-child {
  border-left: solid 1px #cece71;
}
.mtbl td:last-child {
  width: 55px;
  text-align: center;
}
@media (min-width: 375px) {
  .mtbl td:last-child {
    width: 55px;
  }
}
@media (min-width: 425px) {
  .mtbl td:last-child {
    width: 80px;
  }
}
.mtbl td:nth-child(2) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}
@media (min-width: 375px) {
  .mtbl td:nth-child(2) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
b23-tbl.m td:nth-child(2) {
  word-spacing: 4px;
}
@media (max-width: 360px) {
  .mtbl td:nth-child(2) p[style],
  .mtbl td:nth-child(2) div[style],
  .mtbl td:nth-child(2) span[style] {
    font-size: 12px !important;
  }
}
.mtbl td:last-child,
.mtbl td:first-child {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
  font-size: 10px;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
@media (min-width: 375px) {
  .mtbl td:last-child,
  .mtbl td:first-child {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 425px) {
  .mtbl td:last-child,
  .mtbl td:first-child {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.mtbl td:last-child {
  font-weight: 500;
}
@media (min-width: 375px) {
  .mtbl td:last-child {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.mtbl td.td1 {
  font-size: 1.1rem;
}
.mtbl td.td2 {
  font-size: 1.4rem;
  font-weight: bold;
}
.mtbl td.td2 span {
  color: #0ff;
}
.mtbl td.td2 b {
  color: #f00;
  background: #ff0;
}
.mtbl td.td3 {
  font-size: 1.1rem;
}

#logo {
  width: 100%;
  max-width: 47rem;
  padding: 0.5rem;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  z-index: 99;
  background: #edeff0;
}
#logo a {
  display: inline-block;
}
#logo a img {
  width: 188px;
}
.nav {
  margin-top: 48px;
}
.nav2 {
  width: 100%;
  max-width: 800px;
  padding: 4px;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
}
.nav2 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav2 ul li {
  width: 25%;
  box-sizing: border-box;
  padding: 4px;
}
.nav2 ul li a {
  display: block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  border-radius: 32px;
  background: #09663f;
  background-image: linear-gradient(to bottom, #09663f, #1d9b3f);
}
.nav2 ul li a:hover {
  background: #da183b;
}
#nav2[data-fixed='fixed'] {
  max-width: 46.5rem;
  background: #edeff0;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}

.zzjx-content {
  font-size: 1.2rem;
}
.zzjx-content li b {
  color: #30f;
}
.zzjx-content li font {
  color: #f00;
}
#zzjx {
  font-size: 10pt;
  color: #000000;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  background: #fff;
}
#zzjx td {
  width: 50%;
  margin: 0px;
  padding: 3px 2px;
  border: 1px solid rgb(229, 229, 229);
  word-break: break-all;
  text-align: center;
  font-size: 1.2rem;
  line-height: 30px;
  color: rgb(51, 51, 51);
}

.pb-head {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pb-tit {
  font-size: 1.4rem;
  color: #fff;
  padding-top: 0.5rem;
  font-semibold: 600;
  margin-bottom: 0.5rem;
}
.pb-note {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}
.pb-note button {
  border-radius: 4px;
  padding: 0.15rem 0.35rem;
}
.pb-note .button1 {
  color: #3d58ac;
  margin-right: 0.5rem;
}
.pb-note .button2 {
  color: #eb2139;
}
.pb-content {
  background: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
}
.pb-content li {
  padding: 0.3rem 0;
  border-bottom: 1px solid #ddd;
}
.pb-content li:last-child {
  border-bottom: 0;
}
.pb-content li span {
  display: flex;
  float: right;
}

.tzlb-content {
  font-size: 1.3rem;
  text-align: center;
  background: #fff;
}
.tzlb-content li {
  border-bottom: 1px solid #aaa;
  background: #fff;
  margin: 5px 0;
  border-radius: 5px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.tzlb-content li:last-child {
  border-bottom: 1px solid #aaa;
}
.tzlb-content li span {
  font-size: 1.1rem;
}
.tzlb-content li font {
  color: #f00;
  font-size: 1.2rem;
}

.qqbm-content {
  font-size: 1.3rem;
  padding: 0.8rem;
}
.qqbmtb {
  width: 100%;
}
.qqbmtb td {
  border: 1px solid #87cbc2;
  width: 25%;
  text-align: center;
  color: #000;
  padding: 8px 0;
}
.qqbmtb .zzl {
  width: 50%;
  border-left: 0;
  border-right: 0;
  color: #333;
}
.qqbmtb .zzl i {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00f;
}
.qqbmtb .zzl b {
  color: #f00;
  background: #ff0;
}
.qqbmtb .zkj font {
  color: #f00;
}

.yjjt-content {
  font-size: 1.3rem;
}
.yjjt-content li b {
  color: #00f;
}
.yjjt-content li font {
  color: #f00;
}
.yjjt-content li .juzi {
  color: #090;
  font-weight: bold;
  font-size: 1.4rem;
}
.yjjt-content li .jiexi {
  color: #06f;
}

.jxes-content {
  font-size: 1.3rem;
}
.jxes-content li b {
  color: #00f;
}
.jxes-content li font {
  color: #f00;
}

.ptyx-content {
  font-size: 1.3rem;
}
.ptyx-content li b {
  color: #f06;
}
.ptyx-content li font {
  color: #f00;
}

.yqjx-content {
  font-size: 1.3rem;
}
.yqjx-content li b {
  color: #30f;
}
.yqjx-content li font {
  color: #f00;
}

.zbtk-content {
  font-size: 1.2rem;
}
.zbtk-content li b {
  color: #30f;
}
.zbtk-content li font {
  color: #f00;
}

#tbtk {
  font-size: 10pt;
  color: #000000;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  background: #fff;
}
#tbtk td {
  margin: 0px;
  padding: 3px 2px;
  border: 1px solid rgb(229, 229, 229);
  word-break: break-all;
  text-align: center;
  font-size: 1.2rem;
  line-height: 30px;
  color: rgb(51, 51, 51);
}

.jszq-content {
  font-size: 1.3rem;
}
.jszq-content li b {
  color: #f06;
}
.jszq-content li font {
  color: #f00;
}

.jszq-content .tbsx td {
  background: #fff;
  color: #111;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.8rem;
}
.jszq-content .tbsx td.tdtit {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.8rem;
  background: #00f;
  font-weight: bold;
}
.jszq-content .tbsx td span {
  background: #ff0;
  color: #f00;
}
.jszq-content .tbsx td font {
  color: #f00;
}

.jszq-content .tb th {
  border: 1px solid #e5e5e5;
  background: #f60;
  color: #fff;
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
}
.jszq-content .tb td {
  border: 1px solid #e5e5e5;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: 1.2rem;
  word-break: break-all;
}
.jszq-content .tb td.tdtit {
  border-top: 0;
}

.zhzl-content {
  font-size: 1.2rem;
}
.zhzl-content li b {
  color: #30f;
}
.zhzl-content li font {
  color: #f00;
}

.sxsx-content {
  font-size: 1.3rem;
  background: #fff;
}
.sxsx-content li b {
  color: #30f;
}
.sxsx-content li font {
  color: #f00;
}
.sx table {
  border-collapse: collapse;
  border-spacing: 0;
}
.sx table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.sx table td {
  border: 1px solid #e5e5e5;
  padding: 3px 2px;
  word-break: break-all;
}
.sx ul,
.sx li,
.sx dl,
.sx dt,
.sx dd {
  margin: 0;
  padding: 0;
}
.sx ul {
  display: block;
  list-style-type: disc;
}
.sx ul li img {
  vertical-align: middle;
  border: 0;
  width: 40px;
  height: 40px;
}
.sx1 li {
  float: left;
  width: 33.333333%;
  padding: 5px 0;
  text-align: center;
}
.sx span {
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
  padding: 0 3px;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  background-color: #f00;
}
.sx span.blue {
  background-color: #3366ff;
}
.sx span.green {
  background-color: #009933;
}
@media (min-width: 320px) and (max-width: 359px) {
  .sx1 li {
    width: 50%;
  }
}
@media (min-width: 360px) and (max-width: 374px) {
  .sx1 li {
    width: 50%;
  }
}
@media (min-width: 375px) and (max-width: 392px) {
  .sx ul li .tm01 span {
    margin: 0 1px;
    padding: 0 2px;
  }
}
@media (min-width: 393px) and (max-width: 413px) {
  .sx ul li .tm01 span {
    margin: 0 1px;
    padding: 0 2px;
  }
}
@media (min-width: 414px) and (max-width: 767px) {
}
@media (min-width: 768px) {
  .sx1 li {
    width: 25%;
  }
}

.footer {
  background: #fff;
  margin: 0 0.75rem;
  border-radius: 12px 12px 0 0;
  padding: 0.5rem 1rem;
}
