<div class="sxsx p-all">
  <div class="bg br-12">
    <div class="pb-head sxsx-head">
      <div class="pb-tit sxsx-tit">香港赛马会【2025生肖属性】</div>
    </div>
    <div class="sxsx-content br-12">
      <div class="sx">
        <script src="../js/sx.js"></script>
        <table
          width="100%"
          border="0"
          cellspacing="0"
          cellpadding="0"
        >
          <tbody>
            <tr>
              <th style="text-align: center">2025蛇年（十二生肖号码对照）</th>
            </tr>
            <tr>
              <td>
                <ul class="sx1 clearfix">
                  <li>
                    <dl>
                      <dt>
                        蛇
                        <img
                          src="/img/p/she.gif"
                          width="40"
                          height="40"
                        />
                        [冲 猪]
                      </dt>
                      <dd class="tm01">
                        <span>01</span>
                        <span>13</span>
                        <span class="blue">25</span>
                        <span class="blue">37</span>
                        <span class="green">49</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        龙
                        <img
                          src="/img/p/long.gif"
                          width="40"
                          height="40"
                        />
                        [冲 狗]
                      </dt>
                      <dd>
                        <span>02</span>
                        <span class="blue">14</span>
                        <span class="blue">26</span>
                        <span class="green">38</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        兔
                        <img
                          src="/img/p/tu.gif"
                          width="40"
                          height="40"
                        />
                        [冲 鸡]
                      </dt>
                      <dd>
                        <span class="blue">03</span>
                        <span class="blue">15</span>
                        <span class="green">27</span>
                        <span class="green">39</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        虎
                        <img
                          src="/img/p/hu.gif"
                          width="40"
                          height="40"
                        />
                        [冲 猴]
                      </dt>
                      <dd>
                        <span class="blue">04</span>
                        <span class="green">16</span>
                        <span class="green">28</span>
                        <span>40</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        牛
                        <img
                          src="/img/p/niu.gif"
                          width="40"
                          height="40"
                        />
                        [冲 羊]
                      </dt>
                      <dd>
                        <span class="green">05</span>
                        <span class="green">17</span>
                        <span>29</span>
                        <span class="blue">41</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        鼠
                        <img
                          src="/img/p/shu.gif"
                          width="40"
                          height="40"
                        />
                        [冲 马]
                      </dt>
                      <dd>
                        <span class="green">06</span>
                        <span>18</span>
                        <span>30</span>
                        <span class="blue">42</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        猪
                        <img
                          src="/img/p/zhu.gif"
                          width="40"
                          height="40"
                        />
                        [冲 蛇]
                      </dt>
                      <dd>
                        <span>07</span>
                        <span>19</span>
                        <span class="blue">31</span>
                        <span class="green">43</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        狗
                        <img
                          src="/img/p/gou.gif"
                          width="40"
                          height="40"
                        />
                        [冲 龙]
                      </dt>
                      <dd>
                        <span>08</span>
                        <span class="blue">20</span>
                        <span class="green">32</span>
                        <span class="green">44</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        鸡
                        <img
                          src="/img/p/ji.gif"
                          width="40"
                          height="40"
                        />
                        [冲 兔]
                      </dt>
                      <dd>
                        <span class="blue">09</span>
                        <span class="green">21</span>
                        <span class="green">33</span>
                        <span>45</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        猴
                        <img
                          src="/img/p/hou.gif"
                          width="40"
                          height="40"
                        />
                        [冲 虎]
                      </dt>
                      <dd>
                        <span class="blue">10</span>
                        <span class="green">22</span>
                        <span>34</span>
                        <span>46</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        羊
                        <img
                          src="/img/p/yang.gif"
                          width="40"
                          height="40"
                        />
                        [冲 牛]
                      </dt>
                      <dd>
                        <span class="green">11</span>
                        <span>23</span>
                        <span>35</span>
                        <span class="blue">47</span>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>
                        马
                        <img
                          src="/img/p/ma.gif"
                          width="40"
                          height="40"
                        />
                        [冲 鼠]
                      </dt>
                      <dd>
                        <span>12</span>
                        <span>24</span>
                        <span class="blue">36</span>
                        <span class="blue">48</span>
                      </dd>
                    </dl>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          width="100%"
          cellspacing="0"
          cellpadding="0"
          border="0"
        >
          <colgroup>
            <col width="50" />
            <col width="" />
          </colgroup>
          <tbody>
            <tr>
              <th
                colspan="2"
                style="text-align: center"
              >
                五行对照
              </th>
            </tr>
            <tr>
              <td align="center">
                <font color="#ffcc00">金</font>
              </td>
              <td class="a-left">
                <span class="blue">03</span>
                <span class="blue">04</span>
                <span class="green">11</span>
                <span class="red">12</span>
                <span class="blue">25</span>
                <span class="blue">26</span>
                <span class="green">33</span>
                <span class="red">34</span>
                <span class="blue">41</span>
                <span class="blue">42</span>
              </td>
            </tr>
            <tr>
              <td align="center">
                <font color="#33cc33">木</font>
              </td>
              <td class="a-left">
                <span class="red">07</span>
                <span class="red">08</span>
                <span class="blue">15</span>
                <span class="green">16</span>
                <span class="red">23</span>
                <span class="red">24</span>
                <span class="blue">37</span>
                <span class="green">38</span>
                <span class="red">45</span>
                <span class="red">46</span>
              </td>
            </tr>
            <tr>
              <td align="center">
                <font color="#3399ff">水</font>
              </td>
              <td class="a-left">
                <span class="red">13</span>
                <span class="blue">14</span>
                <span class="green">21</span>
                <span class="green">22</span>
                <span class="red">29</span>
                <span class="red">30</span>
                <span class="green">43</span>
                <span class="green">44</span>
              </td>
            </tr>
            <tr>
              <td align="center">
                <font color="#ff6600">火</font>
              </td>
              <td class="a-left">
                <span class="red">01</span>
                <span class="red">02</span>
                <span class="blue">09</span>
                <span class="blue">10</span>
                <span class="green">17</span>
                <span class="red">18</span>
                <span class="blue">31</span>
                <span class="green">32</span>
                <span class="green">39</span>
                <span class="red">40</span>
                <span class="blue">47</span>
                <span class="blue">48</span>
              </td>
            </tr>
            <tr>
              <td align="center">
                <font color="#cc9900">土</font>
              </td>
              <td class="a-left">
                <span class="green">05</span>
                <span class="green">06</span>
                <span class="red">19</span>
                <span class="blue">20</span>
                <span class="green">27</span>
                <span class="green">28</span>
                <span class="red">35</span>
                <span class="blue">36</span>
                <span class="green">49</span>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          width="100%"
          cellspacing="0"
          cellpadding="0"
          border="0"
        >
          <colgroup>
            <col width="50" />
            <col width="" />
          </colgroup>
          <tbody>
            <tr>
              <th
                colspan="2"
                style="text-align: center"
              >
                波色
              </th>
            </tr>
            <tr>
              <td align="center">
                <font color="#ff0000">红波</font>
              </td>
              <td class="a-left">
                <span>01</span>
                <span>02</span>
                <span>07</span>
                <span>08</span>
                <span>12</span>
                <span>13</span>
                <span>18</span>
                <span>19</span>
                <span>23</span>
                <span>24</span>
                <span>29</span>
                <span>30</span>
                <span>34</span>
                <span>35</span>
                <span>40</span>
                <span>45</span>
                <span>46</span>
              </td>
            </tr>
            <tr>
              <td align="center">
                <font color="#3366ff">蓝波</font>
              </td>
              <td class="a-left">
                <span class="blue">03</span>
                <span class="blue">04</span>
                <span class="blue">09</span>
                <span class="blue">10</span>
                <span class="blue">14</span>
                <span class="blue">15</span>
                <span class="blue">20</span>
                <span class="blue">25</span>
                <span class="blue">26</span>
                <span class="blue">31</span>
                <span class="blue">36</span>
                <span class="blue">37</span>
                <span class="blue">41</span>
                <span class="blue">42</span>
                <span class="blue">47</span>
                <span class="blue">48</span>
              </td>
            </tr>
            <tr>
              <td align="center">
                <font color="#009933">绿波</font>
              </td>
              <td class="a-left">
                <span class="green">05</span>
                <span class="green">06</span>
                <span class="green">11</span>
                <span class="green">16</span>
                <span class="green">17</span>
                <span class="green">21</span>
                <span class="green">22</span>
                <span class="green">27</span>
                <span class="green">28</span>
                <span class="green">32</span>
                <span class="green">33</span>
                <span class="green">38</span>
                <span class="green">39</span>
                <span class="green">43</span>
                <span class="green">44</span>
                <span class="green">49</span>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          width="100%"
          cellspacing="0"
          cellpadding="0"
          border="0"
        >
          <colgroup>
            <col width="50" />
            <col width="" />
          </colgroup>
          <tbody>
            <tr>
              <th
                colspan="2"
                style="text-align: center"
              >
                合数单双
              </th>
            </tr>
            <tr>
              <td align="center">
                <font color="#3366ff">合数单</font>
              </td>
              <td class="a-left">
                <span>01</span>
                <span class="blue">03</span>
                <span class="green">05</span>
                <span>07</span>
                <span class="blue">09</span>
                <span class="blue">10</span>
                <span>12</span>
                <span class="blue">14</span>
                <span class="green">16</span>
                <span>18</span>
                <span class="green">21</span>
                <span>23</span>
                <span class="blue">25</span>
                <span class="green">27</span>
                <span>29</span>
                <span>30</span>
                <span class="green">32</span>
                <span>34</span>
                <span class="blue">36</span>
                <span class="green">38</span>
                <span class="blue">41</span>
                <span class="green">43</span>
                <span>45</span>
                <span class="blue">47</span>
                <span class="green">49</span>
              </td>
            </tr>
            <tr>
              <td align="center">
                <font color="#3366ff">合数双</font>
              </td>
              <td class="a-left">
                <span>02</span>
                <span class="blue">04</span>
                <span class="green">06</span>
                <span>08</span>
                <span class="green">11</span>
                <span>13</span>
                <span class="blue">15</span>
                <span class="green">17</span>
                <span>19</span>
                <span class="blue">20</span>
                <span class="green">22</span>
                <span>24</span>
                <span class="blue">26</span>
                <span class="green">28</span>
                <span class="blue">31</span>
                <span class="green">33</span>
                <span>35</span>
                <span class="blue">37</span>
                <span class="green">39</span>
                <span>40</span>
                <span class="blue">42</span>
                <span class="green">44</span>
                <span>46</span>
                <span class="blue">48</span>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="text-align: center"
          width="100%"
          cellspacing="0"
          cellpadding="0"
          border="0"
        >
          <colgroup>
            <col width="100%" />
            <col width="" />
          </colgroup>
          <tbody>
            <tr>
              <th style="text-align: center">生肖属性</th>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">家禽：</font>
                牛、马、羊、鸡、
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="/zhuye03.html#1245612456"
                >
                  狗
                </a>
                、猪
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">野兽：</font>
                鼠、虎、兔、龙、蛇、猴
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">吉美：</font>
                兔、龙、蛇、马、羊、鸡
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">凶丑：</font>
                鼠、牛、
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="/zhuye01.html#1245612456"
                >
                  虎
                </a>
                、猴、狗、猪
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">阴性：</font>
                鼠、龙、
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="/zhuye02.html#1245612456"
                >
                  蛇
                </a>
                、马、狗、猪
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">阳性：</font>
                牛、虎、兔、羊、猴、鸡
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">单笔：</font>
                鼠、龙、
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="/zhuye10.html#1245612456"
                >
                  马
                </a>
                、蛇、鸡、猪
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">双笔：</font>
                虎、猴、狗、兔、羊、牛
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">天肖：</font>
                兔、马、猴、猪、牛、龙
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">地肖：</font>
                蛇、羊、
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="/zhuye09.html#1245612456"
                >
                  鸡
                </a>
                、狗、鼠、虎
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">白边：</font>
                鼠、牛、虎、
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="/zhuye04.html#1245612456"
                >
                  鸡
                </a>
                、狗、猪
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">黑中：</font>
                兔、龙、蛇、马、羊、猴
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">女肖：</font>
                兔、蛇、
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="/zhuye05.html#1245612456"
                >
                  羊
                </a>
                、鸡、猪（五宫肖）
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">男肖：</font>
                鼠、牛、虎、龙、马、猴、狗
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">三合：</font>
                鼠龙猴、牛蛇鸡、虎马狗、兔羊猪
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">六合：</font>
                鼠牛、龙鸡、
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="/zhuye08.html#1245612456"
                >
                  虎猪
                </a>
                、蛇猴、兔狗、马羊
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">琴：</font>
                兔蛇鸡　
                <font color="#3366ff">棋：</font>
                鼠牛狗　
                <font color="#3366ff">书：</font>
                虎龙马　
                <font color="#3366ff">画：</font>
                羊猴猪
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">五福肖</font>
                ：鼠、虎、兔、蛇、猴[龙]
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">红肖：</font>
                马、
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="/zhuye07.html#1245612456"
                >
                  兔
                </a>
                、鼠、鸡
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">蓝肖：</font>
                蛇、虎、猪、
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="/zhuye06.html#1245612456"
                >
                  猴
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <font color="#3366ff">绿肖：</font>
                羊、龙、牛、狗
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
